@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Raleway:wght@300;400&family=Roboto+Condensed&family=Roboto+Mono:wght@500&display=swap");

:root {
  --celeste: #aefeff;
  --metallic: #35858b;
  --prussianBlue: #04293a;
  --oxfordBlue: #041c32;
}
.barra-busqueda {
  border-radius: 20px;
  background-color: transparent;
  color: white;
}
.barra-busqueda:hover {
  background-color: transparent;
  color: white;
}
.lupa {
  background-color: transparent;
  color: white;
  border-radius: 20px;
}
.btn-redondeado{
    border-radius: 30px;
}
.btn-light:hover{
  background-color: gainsboro;
}
.btn-outline-light:hover{
  background-color: transparent;
  color: gainsboro;
  border-color: gainsboro;
}
.input-group {
  border: 0;
}
nav {
  font-family: "Roboto Condensed", sans-serif;
}
.nav-item {
  font-size: 1.4em;
}
.navbar,
.dropdown-menu {
  background-color: var(--oxfordBlue);
}
.dropdown-item {
  color: white;
}
.dropdown-item:hover,
.dropdown-divider {
  background-color: var(--celeste);
}
.dashboard-foro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url("https://images.unsplash.com/photo-1622790698141-94e30457ef12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.title-dashboard{
    color: var(--celeste);
    font-family: 'Oxygen', sans-serif;
}
.leadForo{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.lead-letras-pequenas{
  color:white;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}
#Descripcion-lead{
  font-size: 1.5em;
}
.tittle-subtitle-footer{
  font-family: 'Oxygen', sans-serif;
  color: white;
}

@media only screen and (max-width: 600px) {
  .input-group {
    display: none;
  }
  .d-flex {
    margin-bottom: 5%;
  }
}

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

/*body {
  background-color: #edeef6;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}*/
button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}

.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p.modalwindow {
  opacity: 0.7;
  font-size: 14px;
}