/* ----- Fonts ----- */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&family=Raleway:wght@300;400&family=Roboto+Condensed&family=Roboto+Mono:wght@500&display=swap');

:root{
  --celeste:#AEFEFF;
  --metallic: #35858B;
  --prussianBlue: #04293A;
  --oxfordBlue: #041C32;
}


/* ----- Scroll smooth -----*/
html {
  scroll-behavior: smooth;
}

/* ----- NavBar Classes -----*/

.nav-item {
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}
.collapse .nav-link {
  color: white;
}
.collapse .nav-link:hover,
.collapse .nav-link:focus {
  color: var(--celeste);
  text-decoration: none;
}

.navbar {
  padding: 0% 5%;
  background-color: var(--oxfordBlue);
}

.navbar img{
  width: 5%;
}


/* ----- General Classes -----*/
.tittle-sections {
  font-family: 'Roboto Mono', monospace;
}
.text-sections {
  font-family: 'Raleway', sans-serif;
}
.link-to-page {
  text-decoration: none;
  color: rgb(128, 255, 219);
}
.link-to-page:hover {
  color: rgb(105, 48, 195);
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
lottie-player {
  margin: 0 auto;
}


/* ----- Home Classes ----- */
.tittle-home {
  color: rgb(128, 255, 219);
  font-family: 'Oxygen', sans-serif;
}
.leadHome {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5%;
}

#particles-js {
  position: absolute;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin:0;
}
#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease;
  margin: 0;
}
.panel {
  font-size: 100%;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 35%;
  margin: 0;
  padding: 2%;
  border-radius: 4px;
  box-sizing: border-box;
  z-index: 100;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

#Planes{
  background-image: url("../assets/img/fondoConocenos.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

#Conocenos{
  background-color: var(--oxfordBlue);
  color: white;
}

#Conocenos img{
  width: 20%;
}

.card{
  background-color: #ffffff00;
  border: 0;
}

.card-title{
  font-family: 'Roboto Mono', monospace;
}

.card-text{
  font-family: 'Raleway', sans-serif;
}

.us-link{
  text-decoration: none;
  color: white;
}

.us-link:hover{
  color: var(--celeste);
}

.panelHidden{
  display:none;
}

@media only screen and (max-width: 600px) {

  .panel{
    text-align: center;
  }

  .panelHidden{
    display: inherit;
  }

  .visible{
    display: none;
  }


.navbar img{
  width: 15%;
}

}

#footer{

  background-color: #AEFEFF;
  font-family: 'Oxygen', sans-serif;
}
#icon{
  color: #041C32;
}

#logo-foot{
  text-align: center;
  color: #041C32;
}

#lists{
  
  color: #041C32;
}
a {
  color: #041C32;
  text-decoration: none;
}
a:hover{
  color: #35858B;
}
